html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}

.animation{
    left: 0 !important;
}

.hero{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("../images/overlay.png") !important;
}

::selection{
    background-color: black;
    color: white;
}
